# follower
SUBSYSTEM=="tty", ENV{ID_SERIAL}=="FTDI_USB__-__Serial_Converter_FOLLOWER", SYMLINK+="follower", MODE="0666", ATTR{device/latency_timer}="1"
# leader
SUBSYSTEM=="tty", ENV{ID_SERIAL}=="FTDI_USB__-__Serial_Converter_LEADER_LEFT", SYMLINK+="left_leader", MODE="0666", ATTR{device/latency_timer}="1"
SUBSYSTEM=="tty", ENV{ID_SERIAL}=="FTDI_USB__-__Serial_Converter_LEADER_RIGHT", SYMLINK+="right_leader", MODE="0666", ATTR{device/latency_timer}="1"

SUBSYSTEM=="tty", ENV{ID_SERIAL}=="ROBOTIS_OpenRB-150_00000002", SYMLINK+="left_leader", MODE="0666"

SUBSYSTEM=="tty", ENV{ID_SERIAL}=="ROBOTIS_OpenRB-150_00000001", SYMLINK+="right_leader", MODE="0666"
SUBSYSTEM=="tty", ENV{ID_SERIAL}=="ROBOTIS_OpenRB-150_20FBBD68503059384C2E3120FF08322D", SYMLINK+="right_leader", MODE="0666"

# A3 integrated dual-arm leader
SUBSYSTEM=="tty", ENV{ID_SERIAL}=="ROBOTIS_STM32_Virtual_ComPort_317938973434", SYMLINK+="leader", MODE="0666"
SUBSYSTEM=="tty", ENV{ID_SERIAL}=="ROBOTIS_STM32_Virtual_ComPort_3151388A3434", SYMLINK+="leader", MODE="0666"
